

{% extends 'social/base.html' %}
{% block content %}
  <main>
    <div class="error-wraper">
      <div class="error-hero">
        <img class="404-img" src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1647892823/clipart619208_wlejos.png" alt="A confused sax player">
      </div>
      <div class="error-txt">
        <div class="error-heading">
          <h1 class="heading">oops..... 404</h1>
        </div>
        <div>
          <p class='rb-txt txt-space'>What you are looking for, doesn't exist</p>
          <p class='rb-txt txt-space'>Here are some suggestions...</p>
          <ul>
            <li>link</li>
            <li>link</li>
            <li>link</li>
            <li>link</li>
          </ul>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}