{% extends 'social/base.html' %}
{% block content %}
  <main>
    <div class="error-wraper">
      <div class="error-txt">
        <div class="error-heading">
          <h1 class="heading">oops..... </h1>
        </div>
        <div class="error-p">
          <p class='rb-txt txt-space'>We are experiencing some technical difficulties</p>
          <p class='rb-txt txt-space'>Here are some suggestions in the meantime...</p>
        </div>
        <div class="footer-nav-links">
            <ul>
                <li class="nav-item"><a class="btn-small btn-primary" href="{% url 'feed' %}">Feed</a></li>
                <li class="nav-item"><a class="btn-small btn-primary" href="{% url 'cal:calendar' %}">Calendar</a></li>
            </ul>
            <ul>
                <li class="nav-item"><a class="btn-small btn-primary" href="{% url 'user-profile-list' %}">Friends</a></li>
                <li class="nav-item"><a class="btn-small btn-primary" href="{% url 'my-profile'%}">Profile</a></li>
            </ul>
          </div>
      </div>
      <div class="error-hero">
        <img src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1647892864/breaking-2858673_j3lbbu.svg" alt="An angry guitaris">
      </div>
    </div>
  </main>

{% endblock content %}