{% extends 'social/base.html' %}
{% block content %}
  <main>
    <div class="error-wraper">
      <div class="error-hero">
        <img class="404-img" src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1647892864/breaking-2858673_j3lbbu.svg" alt="An angry guitar player smashing the guitar">
      </div>
      <div class="error-txt">
        <div class="error-heading">
          <h1 class="heading">oops..... </h1>
        </div>
        <div>
          <p class='rb-txt txt-space'>We are having some technical difficulties on our end</p>
          <p class='rb-txt txt-space'>Here are some other places to go...</p>
          <ul>
            <li>link</li>
            <li>link</li>
            <li>link</li>
            <li>link</li>
          </ul>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}