{% extends 'social/base.html' %}
{% block content %}
  <main>
    <div class="cta">
      <div class="cta-headline cta-small">
        <h1>Organize, Practice, Rehearse, Gig!</h1>
      </div>
      <div class="cta-hero">
        <img class="cta-img-small" src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1642418843/hero-mobile_mnynkc.png" alt="A musician paying sax">
        <img class="cta-img-big" src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1642418830/hero-desktop_h6azib.png" alt="Two jazz musicians playing sax and trumpet">
      </div>
      <div class='cta-sign-up'>
        <div class="cta-headline cta-big heading">
          <h1>Organize, Practice, Rehearse, Gig!</h1>
        </div>
        <div class="cta-txt">
          <p class='rb-txt txt-space'>Gigle, a social media site for working musicians. Connect with musicians from around the world, organize your gigs and rehearsals, 
            share your thoughts on the music you are listening to, and the concepts you are practicing. Welcome to Gigle!
          </p>
        </div>
        {% if not user.is_authenticated %}
          <div class="cta-buttons">
            <a class="btn btn-primary" href="{% url 'sign-up' %}">Sign-Up</a>
          </div>
        {% endif %}
      </div>
    </div>
  </main>

{% endblock content %}