{% extends 'social/base.html' %}
{% block content %}
    <main>
     
        
        <div class='form-wrapper'>
            <div class="form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1 class='heading'>Login</h1>
                    {% for error in form.non_field_errors %}
                        <p class="urgent rb-txt">{{ error }}</p>
                    {% endfor %}
                    <p class='rb-txt'>Username</p>
                    {{form.username}}
                    <p class='rb-txt'>Password</p>
                    {{form.password}}
                    <button class="btn btn-primary" type="submit">Sign me in!</button>
                    <div>
                        <small class="text-muted">
                            <a class='info' href="{% url 'password_reset' %}">forgot password?</a>!
                        </small>
                    </div>
                    <div>
                        <small class="text-muted">
                            Need an account? <a class='info' href="{% url 'sign-up' %}"> Sign-up</a>!
                        </small>
                    </div>
                </form>
            </div>
        </div>


    </main>

{% endblock content %}