{% extends 'social/base.html' %}
{% block content %}
    <main>

     
        
        <div class='form-wrapper'>
            <div class="form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1 class='heading'>Sign-up</h1>
                    {% if form.errors %}
                        {% for field in form  %}
                            {% for error in field.errors  %}
                            <p class="urgent">{{error}}</p>
                            {% endfor %}
                        {% endfor %}               
                    {% endif %}
                    <p class='rb-txt'>Username</p>
                    {{form.username}}
                    <p class='rb-txt'>Email</p>
                    {{form.email}}
                    <p>Password</p>
                    {{form.password1}}
                    <p class='rb-txt'>Confirm Password</p>
                    {{form.password2}}
                    <button class="btn btn-primary" type="submit">Lets go!</button>
                    <div>
                        <small class="text-muted">
                            Already have an account? <a class='info' href="{% url 'login' %}"> Login</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>

    </main>

{% endblock content %}