/* mobile first style sheet  */
/* general styles  */
:root {
    --main-dark: #202020;
    --off-white: #faf9f6;
    --off-grey: #615766;
    --dull-grey: #575766;
    --urgent: #D22730;
    --purple: #C724B1;
    --blue: #4D4DFF;
    --yellow: #E0E722;
    --orange: #FFAD00;
    --red: #D22730;
    --fuschia:  #DB3EB1;
    --green: #44D62C;
  }


  .padding {
      padding: 1em;
  }

  .center {
      text-align: center;
  }
/* header style */
/* hide desktop nav bar  */

.nav-big {    
      display: none;
  }


.fa-icon {
    font-size: 1.5rem;
}

.header-container {
    justify-content: space-between;
}

/* works in conjunction with js function*/
/* organiser/js/script.js line 1  */
.profile-dropdown {
    position: absolute;
    background-color: var(--main-dark);
    opacity: .8;
    top: 0; right: 0;
    height: 0px;
    overflow: hidden;
    z-index: 2;
}

.profile-dropdown li {
    border-bottom: 1px solid var(--dull-grey);
}

/* .notification-dropdown {
    position: absolute;
    background-color: var(--main-dark);
    opacity: .8;
    top: 0; right: 0;
    height: 0px;
    overflow: hidden;
    z-index: 2;
} */

.notification_bell {
    color: var(--urgent);
}

.notification-dropdown li {
    border-bottom: 1px solid var(--dull-grey);
}

.dropdown-item-close {
    font-size: 1.5rem;
    color: var(--dull-grey);
    padding: 0 1em;
    cursor: pointer;
}


/* push first nav item down below header  */
.first-nav {
    margin-top: 4em;
}

.profile-dropdown a {
    color: var(--off-white);
    text-decoration: none;
    display: block;
    padding: 2em 6em 2em 2em;
    text-transform: uppercase;
}

.notification-dropdown a {
    color: var(--dull-grey);
    text-decoration: none;
    display: inline-block;
    padding: 2em 1em;
    max-width: 80%;
}

.bell {
    position: absolute;
    top: 19px; right: 60px;
}

.profile-nav--open {
    height: auto;
    max-width: 70%;
}

.notification-dropdown {
    position: initial;
    background-color: var(--yellow);
    opacity: .8;
    /* top: 9%; right: 0; */
    height: 0px;
    overflow: hidden;
    z-index: 2;
}

.notification-nav--open {
    height: auto ;
    width: 100%;
    /* max-width: 70%; */
}

/* moves fa icon on top of drop down menu  */
.move-forward {
    color: var(--off-white);
    z-index: 3;
}

.hide, .notification-big {
    display: none;
}

/* end header style */

/* feed  */

.feed-heading {
    text-align: center;
    margin: 1.5em 0;
}

.post-btn button {
    display: block;
    margin: 2em auto 0;
}

.feed-wrapper {
    width: 95%;
    margin: 1em auto;
    max-width: 600px;
    /* background-color: yellow; */
}

.post-wrapper {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 2.5em auto;
}

.card {
    background-color: white;
    padding: 1em;
    box-shadow: -1px 1px 2px var(--off-grey);
    border-radius: 5px;
}

.post-author-wrapper {
    width: 70%;
    padding: 1em;
    margin: 0 auto;
}

.post-author-wrapper:nth-child(1) {
    padding: .5em;
}


.post-msg {
    width: 100%;
    padding: 1em;
}

.like-dislike {
    width: 80%;
    gap: 3em;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.other-users p {
    margin: 1em 0;
}

.other-users {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.pagination {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 1em 0 3em;
}



/* end feed  */


/* profile  */


.profile-info {
    width: 95%; margin: 2em auto;
    max-width: 600px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
}

.profile-pic-wrapper, .post-pic-wrapper {
    width: 30%;
    display: flex; justify-content: center;
}

.profile-pic, .profile-pic-small {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 3px solid var(--main-dark);
}

.profile-pic-small {
    width: 4em; height: 4em;
}

.profile-info-text-wrapper {
    width: 60%;
    padding: .5em;
}

.profile-info-text-wrapper p {
    padding: .3em 0;
}

.profile-blurb {
    margin: 0 auto;
    padding: 1em 1.5em;
    width: 90%;
}


.edit-profile {
    cursor: pointer;
}

/* modal  */

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--main-dark); /* Fallback color */
    opacity: .95;
}
  
  /* Modal Content/Box */
  .modal-form-bg {
    background-color: var(--off-white);
    z-index: 2;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid var(--dull-grey);
    width: 100%; /* Could be more or less, depending on screen size */
  }

  
  /* The Close Button */
  #close-modal {
    color: var(--off-white);
    float: right;
    cursor: pointer;
  }