{% extends 'landing/base.html' %}
{% block content %}
  <main>
    <div class="cta">
      <div class="cta-headline cta-small">
        <h1>Organize, Practice, Rehearse, Gig!</h1>
      </div>
      <div class="cta-hero"></div>
      <div class='cta-sign-up'>
        <div class="cta-headline cta-big rb-txt">
          <h1>Organize, Practice, Rehearse, Gig!</h1>
        </div>
        <div class="cta-txt">
          <p class='txt-space'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque placeat a tenetur quo vel,
            saepe necessitatibus suscipit blanditiis culpa obcaecati dolorum ullam? Nostrum corrupti omnis
            consectetur reiciendis quia laudantium distinctio!</p>
        </div>
        <div class="cta-buttons">
         
          <a class="btn btn-primary" href="{% url 'sign-up' %}">Sign-Up</a>


       
        </div>
      </div>
    </div>
  </main>

{% endblock content %}