{% extends 'landing/base.html' %}
{% block content %}
    <main>
     
        
        <div class='form-wrapper'>
            <div class="form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1 class='heading'>Reset Password</h1>
                    {% for error in form.non_field_errors %}
                        <p class="urgent rb-txt">{{ error }}</p>
                    {% endfor %}

                    <p class="rb-txt">Email: {{form.email}}</p>
                    <br>
                    <button class="btn btn-primary" type="submit">Request Password Reset</button>
                </form>
            </div>
        </div>


    </main>

{% endblock content %}