{% extends 'organiser/base.html' %}
{% block content %}


<main>
    <div class="cal-wrapper">
        <a href="{% url 'cal:calendar' %}?{{ prev_month }}"> <i class="far fa-arrow-alt-circle-left fa-icon"></i> </a>
        <div class="cal-btn-r">
            <a href="{% url 'cal:calendar' %}?{{ next_month }}"> <i class="far fa-icon fa-arrow-alt-circle-right"></i> </a>
            <a href="{% url 'cal:event-create' %}"><i class="far fa-icon fa-calendar-plus"></i></a>
        </div>
        {{calendar}}
    </div>
</main>




{% endblock content %}