{% extends 'organiser/base.html' %}
{% block content %}


<main>
    <div class='form-wrapper'>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                {% if event.author.first_name == '' %}
                    <h1 class='heading'>{{event.author}} has invited you to an event.</h1>
                {% else %}
                    <h1 class='heading txt-space'>{{event.author.first_name}} {{event.author.last_name}} has invited you to an event on {{event.date}}</h1>
                {% endif %}
                    
                <div class="basic-wrapper card">
                    <h2 class="rb-txt txt-height txt-padding">{{event.title}}</h2>
                    <br>
                    <small class="rb-txt txt-height txt-padding">date: {{event.date}}</small>
                    <br>
                    <p class="rb-txt txt-space txt-height txt-padding">{{event.description}}</p>
                </div>
                <button class="btn btn-primary" type="submit">Accept</button>
                <a href="{% url 'feed' %}" class="btn btn-primary" >Decline</a>
            </form>
        </div>
    </div>
    
      
        <div class="basic-wrapper">
            {% if user_events.count == 0 %}
                <h1 class='heading'>No other events on {{event.date}}</h1>
            {% else %}
                <h1 class='heading'>Other Events on {{event.date}}</h1>
                {% for event in user_events %}
                    <div class="basic-wrapper card">
                        <h1 class="rb-txt txt-height txt-padding">{{event.title}}</h1>
                        <p class="rb-txt txt-space txt-height txt-padding">{{event.description}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    

</main>



{% endblock content %}