{% extends 'organiser/base.html' %}
{% block content %}
    <main>

     
        
        <div class='form-wrapper'>
            <div class="form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1 class='heading'>Are you sure?</h1>
                    <button class="btn btn-primary" type="submit">Delete</button>
                    <a href='{% url 'cal:calendar' %}' class="btn btn-primary" >Cancel</a>
                </form>
            </div>
        </div>

    </main>

{% endblock content %}