{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'social/css/social.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'organiser/css/organiser.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gig_calendar/css/calendar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% if title  %}
        <title>gigle - {{title}}</title>
    {% else %}
        <title>gigle</title>
    {% endif %}
    
</head>
<body>
    <header class="header-container">
        <!-- logo going back to feed page -->
        <div class="logo-container">
            <a href="{% url 'feed' %}"><span class="heading">Gigle</span></a>
        </div>
        <!-- search bar -->
        <div class="search-bar search-large">
            <form action="{% url 'search' %}" method="get">
                <input id="al-search-l" type="text" placeholder="search user..."
                       name="user" value="{{ request.GET.account }}"
                       class="search-field" required/>
                <button type="submit"
                        class="btn-small btn-primary">Search</button>
            </form>
        </div>
        <!-- navbar on mobile -->
        <div class="nav-container nav-small">
            <nav class="profile-nav">
                <ul class="nav-list">
                    <li class="nav-item bell "><span ><i class="fas pointer notifications-dropdown-icon fa-icon notification_bell fa-bell"></i></span></li>
                    <li class="nav-item profile-dropdown-icon"><span><i class="fas fa-icon pointer fa-bars"></i></span></li>
                    <li class="nav-item close-dropdown hide profile-dropdown-icon"><span><i class="far fa-icon pointer fa-times-circle"></i></span></li>
                </ul>

            </nav>
            <!-- dropdown burger -->
            <nav class="profile-dropdown">
                <ul>
                    <li class="first-nav"><a class="rb-txt" href="{% url 'feed' %}"><i class="fas fa-icon fa-home"></i>Home</a></li>
                    <li ><a class='rb-txt' href="{% url 'cal:calendar' %}"><i class="far fa-icon fa-calendar-alt"></i> Calendar</a></li>
                    <li><a class='rb-txt' href="{% url 'inbox' %}"><i class="far fa-icon fa-envelope"></i> Messages</a></li>
                    <li ><a class='rb-txt' href="{% url 'my-profile' %}"><i class="fas fa-icon fa-user"></i> Profile</a></li>
                    <li ><a class='rb-txt' href="{% url 'user-profile-list' %}"><i class="fas fa-icon fa-users"></i> Friends</a></li>
                    <li><a class='rb-txt' href="{% url 'logout' %}"><i class="fas fa-icon  fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </nav>

        </div>
        <!-- navbar on bigger screen -->
        <div class="nav-container nav-big">
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'feed' %}"><span class='hover-underline'><i class="fas fa-icon fa-home"></i></span></a></li>
                <li class="nav-item"><a href="{% url 'cal:calendar' %}"><span class='hover-underline'><i class="far fa-icon fa-calendar-alt"></i></span></a></li>
                <li class="nav-item"><a href="{% url 'user-profile-list' %}"><span class='hover-underline'><i class="fas fa-icon fa-users"></i></span></a></li>
                <li class="nav-item bell"><i class="fas pointer notifications-dropdown-icon fa-icon notification_bell fa-bell"></i></li>
                <li class="nav-item "><a href="{% url 'inbox' %} "><span class='hover-underline'><i class="far fa-icon fa-envelope"></i></span></a></li>
                <li class="nav-item "><a href="{% url 'my-profile'%}"><span class='hover-underline'><i class="fas fa-icon fa-user"></i></span></a></li>
                <li class="nav-item "><a href="{% url 'logout' %}"><span class='hover-underline'><i class="fas fa-icon  fa-sign-out-alt"></i></span></a></li>
            </ul>
        </div>
        
        
    </header>
    {% show_notifications %}
   
    <!-- flash messages  -->
    {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-{{message.tags}}">
                <p class="txt-space rb-txt">{{message}}</p>
            </div>
        {% endfor %}
    {% endif %}
    
    <!-- searchbar mobile  -->
    <div class="search-bar search-small basic-wrapper">
        <form action="{% url 'search' %}" method="get">
            <input id="al-search" type="text" placeholder="search user..."
                   name="user"
                   class="search-field" />
            <button type="submit"
                    class="btn-small btn-primary">Search</button>
        </form>
    </div>
   
    {% block content %}{% endblock %}

    <!-- footer  -->

    <footer class="footer">
        <div class="footer-site-nav">
            <h3 class="heading">Gigle</h3>
            <div class="footer-nav-links">
                <ul>
                    <li class="nav-item"><a href="{% url 'feed' %}">Feed</a></li>
                    <li class="nav-item"><a href="{% url 'cal:calendar' %}">Calendar</a></li>
                    <li class="nav-item"><a href="{% url 'user-profile-list' %}">Friends</a></li>
                </ul>
                <ul>
                    <li class="nav-item "><a href="{% url 'inbox' %} ">Messages</a></li>
                    <li class="nav-item "><a href="{% url 'my-profile'%}">Profile</a></li>
                    <li class="nav-item "><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="basic-wrapper-flex">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-icon fa-facebook"></i></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-icon fa-twitter"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-icon fa-youtube"></i></a>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>