{% extends 'organiser/base.html' %}
{% block content %}

    <div class="basic-wrapper ">
        <h1 class="heading">Your conversations</h1>
        {% comment %} <form action="{% url 'create_thread' %}" method="GET">
            <br>
            <button class="btn " type="submit">Start a new conversation</button>
        </form> {% endcomment %}
        {% for thread in threads %}
        <a href="{% url 'thread' thread.pk %}">
            <div class="basic-wrapper-flex card">
                {% if thread.receiver == request.user %}
                    {% if "placeholder" in thread.user.musician.profile_pic.url %}
                        <img class="profile-pic" src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1642328437/user-1633249_640_ogwtqg.png">
                    {% else %}
                        <img class="profile-pic" src=" {{ thread.user.musician.profile_pic.url }}">
                    {% endif %}
                    {% if thread.user.first_name == '' %}
                        <span class='rb-txt text-height '>{{thread.user.username}}</span>
                    {% else %}
                        <span class='rb-txt text-height '>{{thread.user.first_name}} {{thread.user.last_name}}</span>
                    {% endif %}
                {% else %}
                    {% if "placeholder" in thread.receiver.musician.profile_pic.url %}
                        <img class="profile-pic" src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1642328437/user-1633249_640_ogwtqg.png">
                    {% else %}
                        <img class="profile-pic" src=" {{ thread.receiver.musician.profile_pic.url }}">

                    {% endif %}
                    {% if thread.receiver.first_name == '' %}
                        <span class='rb-txt text-height '>{{thread.receiver.username}}</span>
                    {% else %}
                        <span class='rb-txt text-height '>{{thread.receiver.first_name}} {{thread.receiver.last_name}}</span>
                    {% endif %}
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="pagination">
                <span class="step-links">
                    {% if threads.has_previous %}
                        <a href="?threads=1">&laquo;  </a>
                        <a href="?page={{ threads.previous_page_number }}">prev  </a>
                        <span class="current">
                            {{ threads.number }} / {{ threads.paginator.num_pages }}  
                        </span>
                    {% endif %}
            
                    {% if threads.has_next %}
                        <span class="current">
                            {{ threads.number }} / {{ threads.paginator.num_pages }}  
                        </span>
                        <a href="?page={{ threads.next_page_number }}">next  </a>
                        <a href="?page={{ threads.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </span>
            </div>

{% endblock content %}