{% extends 'organiser/base.html' %}
{% block content %}
    <main>

     <br>
    <p class='rb-txt txt-space'><a href="{% url 'feed' %}"><i class="fas fa-icon fa-chevron-left"></i>Back to Feed</a></p>
        
        <div class='form-wrapper'>
             
            <div class="form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1 class='heading'>Whats on your mind?</h1>
                    <div class="post-content">{{form.content}}</div>
                    <button class="btn btn-primary" type="submit">Post</button>
                </form>
            </div>
        </div>

    </main>

{% endblock content %}