{% extends 'organiser/base.html' %}
{% block content %}

    <div class="profile-info card">
        <div class="card-wrapper ">
            <div class="profile-pic-wrapper">
                 {% if "placeholder" in user.musician.profile_pic.url %}
                    <img class="profile-pic" src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1642328437/user-1633249_640_ogwtqg.png">
                {% else %}
                    <img class="profile-pic" src=" https://res.cloudinary.com/daniel-callaghan/image/upload/v1642328437/user-1633249_640_ogwtqg.png">
                {% endif %}
            </div>
            <div class="profile-info-text-wrapper">
                {% if user.first_name == '' %}
                    <h1 class='rb-txt txt-space txt-height'>{{user.username}}</h1>
                {% else %}
                <h1 class='rb-txt txt-space'>{{user.first_name}} {{user.last_name}}</p>
                {% endif %}
                {% if object.location != '' %}
                    <p class='rb-txt txt-space txt-height'>{{user.musician.location}}</p>
                {% endif %}
                {% if user.musician.instrument != '' %}
                    <p class='rb-txt txt-space txt-height'>{{user.musician.instrument}}</p>
                {% endif %}
            </div>
        </div>
        <div class="profile-blurb">
            {% if user.musician.blurb != '' %}
                <p class='rb-txt txt-height txt-space'>{{user.musician.blurb}}</p>
            {% endif %}
        </div>
    </div>
        <div class="basic-wrapper-flex">
            {% for thread in threads %}
                {% if thread.receiver == user or thread.receiver == request.user %}
                    {% if thread.receiver == request.user and thread.user == request.user   %}
                    {% else %}
                        <a href="{% url 'thread' thread.pk %}">
                        <button class="btn-primary btn-small">Chat</button>
                        </a>
                    {% endif %}
                {% endif %}
            
            {% endfor %}
            
            {% if user in friends %}
                <a href="{% url 'change_friends' operation='remove' pk=user.pk %}"><button class="btn-primary btn-small">Unfollow</button></a>
            {% else %}
                <a href="{% url 'change_friends' operation='add' pk=user.pk %}"><button class="btn-primary btn-small">Follow</button></a>
            {% endif %}
        </div>


{% endblock content %}