{% extends 'organiser/base.html' %}
{% block content %}
    <div class="basic-wrapper">
        {% if user.first_name == '' %}
            <h2 class='heading'>{{user.username}}'s profile</h2>
        {% else %}
            <h2 class='heading'>{{user.first_name}}'s profile</h2>
        {% endif %}
    </div>
    <div class="profile-info card">
        <div class="card-wrapper ">
            <div class="profile-pic-wrapper">
                {% if "placeholder" in user.musician.profile_pic.url %}
                    <img class="profile-pic" src="https://res.cloudinary.com/daniel-callaghan/image/upload/v1642328437/user-1633249_640_ogwtqg.png" alt="user {{user.username}}'s profile pic">
                {% else %}
                    <img class="profile-pic" src="{{ user.musician.profile_pic.url }}" alt="user {{user.username}}'s profile pic">
                {% endif %}
            </div>
            <div class="profile-info-text-wrapper">
                {% if user.first_name == '' %}
                    <h3 class='rb-txt txt-space txt-height'>{{user.username}}</h3>
                {% else %}
                <p class='rb-txt txt-space'>{{user.first_name}} {{user.last_name}}</p>
                {% endif %}
                {% if object.location != '' %}
                    <p class='rb-txt txt-space txt-height'>{{user.musician.location}}</p>
                {% endif %}
                {% if user.musician.instrument != '' %}
                    <p class='rb-txt txt-space txt-height'>{{user.musician.instrument}}</p>
                {% endif %}
            </div>
        </div>
        <div class="profile-blurb">
            {% if user.musician.blurb != '' %}
                <p class='rb-txt txt-height txt-space'>{{user.musician.blurb}}</p>
            {% endif %}
        </div>
    </div>
        <div class="basic-wrapper-flex">
            {% if threads %}
                {% for thread in threads %}
                    {% if thread.user == request.user and thread.receiver == user  %}
                        <a class="btn-primary btn-small" href="{% url 'thread' thread.pk %}">Chat</a>
                    {% elif thread.receiver == request.user and thread.user == user %}
                        <a class="btn-primary btn-small" href="{% url 'thread' thread.pk %}">Chat</a>
                    {% endif %}
                {% endfor %}
                    
            {% endif %}
            
            {% if user in friends %}
                <a class="btn-primary btn-small" href="{% url 'change_friends' operation='remove' pk=user.pk %}">Unfollow</a>
            {% else %}
                <a class="btn-primary btn-small" href="{% url 'change_friends' operation='add' pk=user.pk %}">Follow</a>
            {% endif %}
        </div>


{% endblock content %}