{% extends 'organiser/base.html' %}
{% block content %}

    <div class="basic-wrapper">

        {% if thread.receiver == request.user %}
            <h1 class="heading">@{{thread.user}}</h1>
        {% else %}
            <h1 class='heading'>@{{thread.receiver}}</p>
        {% endif %}

    </div>
    {% if message_list.all.count == 0 %}
        <div class="basic-wrapper">
            <p>No messages</p>
        </div>
    {% else %}
        <div class="basic-wrapper chat-height card">
            {% for message in message_list  %}
                {% if message.sender_user == request.user %}
                    {% if message.image %}
                        <div>
                            <img src="{{ message.image.url }}" class='msg-img sent-img' alt="">
                        </div>
                    {% endif %}
                    <div class="sent-msg">
                        <span class='rb-txt txt-space txt-height'>{{message.body}}</span>
                    </div>
                {% else %}
                    {% if message.image %}
                        <div class='msg-img-container'>
                            <img src="{{ message.image.url }}" class='received-img msg-img' alt="">
                        </div>
                    {% endif %}
                    <div class="received-msg">
                        <span class='rb-txt txt-space txt-height'>{{message.body}}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

   

    <div class="basic-wrapper">
        <form action="{% url 'create_message' thread.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.body}}
            {{form.image}}
            <button class="btn btn-primary" type="submit">Send Message</button>
        </form>
    </div>

{% endblock content %}