{% extends 'organiser/base.html' %}
{% block content %}

    <div class="basic-wrapper">

        {% if thread.receiver == request.user %}
            <h2 class="heading">@{{thread.user}}</h2>
        {% else %}
            <h2 class='heading'>@{{thread.receiver}}</h2>
        {% endif %}

    </div>
    {% if message_list.all.count == 0 %}
        <div class="basic-wrapper">
            <p class="rb-txt">No messages</p>
        </div>
    {% else %}
        <div id="chat" class="basic-wrapper chat-height card">
            {% for message in message_list  %}
                {% if message.sender_user == request.user %}
                    <div class="sent-msg">
                        <span class='rb-txt txt-space txt-height'>{{message.body}}</span>
                    </div>
                {% else %}
                    <div class="received-msg">
                        <span class='rb-txt txt-space txt-height'>{{message.body}}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

   

    <div class="basic-wrapper">
        <form action="{% url 'create_message' thread.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.body}}
            <!-- {{form.image}} -->
            <button class="btn btn-primary" type="submit">Send Message</button>
        </form>
    </div>

    <script>
        const chatWindow = document.getElementById("chat");
        chatWindow.scrollTop = chatWindow.scrollHeight;
    </script>

{% endblock content %}